name: Publish

on:
  pull_request:
    types:
      - closed
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  publish:
    if: github.event_name == 'workflow_dispatch' || (github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.label, 'arnoerpenbeck:release/'))
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - run: |
          echo "Label=${{ github.event.pull_request.head.label }}"

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version-file: '.nvmrc'
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Set npm credentials
        run: npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN

      - name: Install dependencies
        run: npm ci --ignore-scripts --progress=false --fund=false --fetch-retries=5

      - name: Publish
        run: npm publish --access public
