name: Release

on:
  workflow_dispatch:
    inputs:
      type:
        type: choice
        description: Choose release type
        options:
          - auto
          - patch
          - minor
          - major
        default: auto
      beta:
        type: boolean
        description: Prerelease
        default: false
      dry:
        type: boolean
        description: Dry release
        default: false

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Create release branch
        id: crb
        run: |
          RELEASE_BRANCH="release/$(date -u +"%Y-%m-%d_%H-%m-%S")"
          echo "release-branch=${RELEASE_BRANCH}" >> $GITHUB_OUTPUT
          git checkout -b "$RELEASE_BRANCH"

      - name: Show git info
        run: |
          git status
          git rev-parse --short HEAD

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci --ignore-scripts --progress=false --fund=false --fetch-retries=5

      - name: Release
        run: npm run release -- --ci --verbose $TYPE_ARG $BETA_ARG $DRY_ARG
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TYPE_ARG: ${{ fromJSON('{"auto":"", "patch":"--patch", "minor":"--minor", "major":"--major"}')[github.event.inputs.type] }}
          BETA_ARG: ${{ github.event.inputs.beta == 'true' && '--preRelease=beta' || '' }}
          DRY_ARG: ${{ github.event.inputs.dry == 'true' && '--dry-run' || '' }}
          GIT_ARG: --no-git
          OLD_GIT_ARG: --git.pushArgs=--follow-tags --git.pushArgs="--set-upstream origin ${{ steps.crb.outputs.release-branch }}"

      - name: Determine new version
        id: version
        run: |
          NEW_VERSION="$(cat package.json| jq -r '.version')"
          echo "release-version=${NEW_VERSION}" >> $GITHUB_OUTPUT
          echo "NEW_VERSION=${NEW_VERSION}"
          echo "SHA=$(git rev-parse --short HEAD)"
          git status

      - name: Create PR
        uses: peter-evans/create-pull-request@38e0b6e68b4c852a5500a94740f0e535e0d7ba54
        if: ${{ github.event.inputs.dry == 'false' }}
        with:
          base: main
          branch: ${{ steps.crb.outputs.release-branch }}
          title: Prepare release ${{ steps.version.outputs.release-version }}
          commit-message: Prepare release ${{ steps.version.outputs.release-version }}
          labels: ocff:release
